@font-face { 
 font-family: 'Outfit';
 src: url('fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'YoungSerif';
  src: url('fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}
html{
  font-family: Outfit;
}
body{
 background-color: hsl(30, 54%, 90%);
}
#main-recipe{
 position: absolute;
 top: 85%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: hsl(0, 0%, 100%);
 width: 50em;
 height: 120em;
 margin: 10em 0em 0em 0em;
 border-radius: 1.5em;
}
img{
 width: 45em;
 height: 20em;
 border-radius: 0.5em;
 margin: 3em 0em 0em 2.3em;
}
.head-title, h1{
  font-family: 'YoungSerif' !important;
  color: hsl(24, 5%, 18%);
  font-size: 2.5em;
  font-weight: 400;
  margin-left: 0.9em;
 }
 .head-titles{
  font-family: 'YoungSerif' !important;
}
.recipe-description{
  color: hsl(30, 10%, 34%);
  font-weight: 500;
  font-size: 1.1em;
  width: 40em;
  margin: -1em 1em 1.7em 2.3em;
  line-height: 1.5em;
}
.prep-time{
  background-color: hsl(330, 100%, 98%);
  margin: 1em 1em 0em 2.3em;
  padding: 0em 0em 1.8em 1em;
  width: 36.6em;
  height: 10em;
  border-radius: 0.5em;
  line-height: 2em;
  font-size: 1.16em;
}
.prep-title{
  color: hsl(24, 5%, 18%);
  margin: 1em 1em -0.3em 0.6em;
  padding: 1em 0em 0em 0em;
  font-size: 1.1em;
}
h2{
  font-weight: 400;
  font-size: 1.8em;
  margin: 1em 1em 0em 0.1em;
}
.ingredients-span{
  position: relative;
  left: 1em;
}
.ingredients{
  list-style-position: left;
  margin: 1em 1em 0em 1em;
  padding: 0em 0em 1.8em 1em;
  font-size: 1.16em;
  line-height: 2em;
  font-weight: 400;
}
.dash:first-of-type{
  border-top: 0.1em solid hsl(30, 18%, 87%);
  width: 43em;
  height: 0em;
  margin: -1em 0em 0em 3em ;
}
.dash{
  border-top: 0.1em solid hsl(30, 18%, 87%);
  width: 43em;
  height: 0em;
  margin: 2em 0em 0em 3em;
}
.bold-text{
  font-weight: bold;
  color: hsl(24, 5%, 18%);
}
h3{
  font-weight: 400;
  font-size: 1.8em;
  margin: 1em 1em 0em 0.8em; 
}
.inst-span{
  position: relative;
  left: 1em;
}
.instruct, ol{
  list-style-position: left;
  font-weight: 400;
  font-size: 1.06em;
  margin: 0em 1em 0em 1.1em;
  padding: -1em 0em 1.8em 1em;
  margin-top: 2em;
  line-height: 1.5em;
}
.inst-li{
  margin-top: 0.5em;
  font-weight: bold;
}
li, .inst-span{
  font-weight: normal;
}
h4{
  font-weight: 400;
  font-size: 2em;
  margin: 1em 1em 0em 0.1em;
}
.nut-desc{
  color: hsl(30, 10%, 34%);
  font-weight: 500;
  font-size: 1em;
  width: 40em;
  margin: 1em 1em 1.7em 0.2em;
  line-height: 1.5em;
}
.nut, p{
  font-weight: 400;
  font-size: 1.06em;
  margin: 1em 0em 1.7em 2.2em;
}
.nut-dash{
  border-top: 0.1em solid hsl(30, 18%, 87%);
  width: 40em;
  height: 0em;
  margin: -1em 0em 0em 0.5em;
}
.space-between{
  font-weight: bold;
  margin: 0em 0em 0em 14.4em;
}
.space-between-two{
  font-weight: bold;
  margin: 0em 0em 0em 15.4em;
}
.space-between-three{
  font-weight: bold;
  margin: 0em 0em 0em 14.7em;
}
.space-between-four{
  font-weight: bold;
  margin: 0em 0em 0em 16.4em;
}
